@import url("webbidings.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=auto");
@font-face {
	font-family: "JetBrains Mono NF";
	src: url("../res/fonts/JB_Mono_NF.ttf");
}
@font-face {
	font-family: "Segoe Fluent Icons";
	src: url("../res/fonts/Segoe_Fluent_Icons.ttf");
	font-display: swap;
}

:root {
	--document-padding: 0;
	--min-padding: 4px;
	--standard-padding: 8px;
	--max-padding: 10px;
	--section-padding: var(--max-padding);
	--grid-columns: clamp(1, 2, 3);
	--grid-column-template: repeat(var(--grid-columns), min-content);
	--grid-auto-columns: fit-content;

	--content-margin: clamp(0px, 15%, 25%);
	--content-padding: 10%;

	--card-width: clamp(80%, 30px, 30px);
	--propic-size: 1em;
	--propic: url("https://avatars.githubusercontent.com/u/71439748");

	--font: var(--icon-font), "Rubik";
	--monospace-font: "JetBrains Mono NF";
	--title-font: var(--monospace-font);
	--title-size: 2.5rem;
	--title-weight: 400;
	--icon-font: "Segoe Fluent Icons";
	--icon-size: 1em;
	--nav-link-font: var(--monospace-font);
	--nav-link-size: 1rem;
	--hieroglyphs: "Roboto Hieroglyphs";

	--on-top: 10;
	--in-between: 5;
	--normal: 0;
	--behind-content: -5;

	--control-corner-radius: 3px;
	--section-corner-radius: 6px;
	--circle: 50%;
	--text-shadow: 0px 0px var(--min-padding) currentColor;
	--section-box-shadow: 0px 3px 6px;
	--border-bottom: 1px solid var(--border-muted);

	--min-opacity: 60%;
	--standard-opacity: 100%;
	--max-opacity: 80%;

	--animation: 250ms ease;
	--long-animation: 512ms ease;
	--longer-animation: 864ms ease;
	--background-animation: 10s;
}
@media only screen and (max-width: 800px) {
	:root {
		--content-padding: 25%;
		--grid-columns: 1;
	}
}
@media (prefers-reduced-motion) {
	:root {
		--animation: 0ms;
		--long-animation: 0ms;
		--longer-animation: 0ms;
		--background-animation: 0s;
	}
}

* {
	font-family: var(--font);

	scroll-behavior: smooth;
	transition: var(--animation);
}

html,
body {
	margin: var(--document-padding);
	padding: var(--document-padding);

	height: 100vh;

	color-scheme: dark;
}

body {
	height: 100%;

	/* 	background-image: url("../res/Duckscape.svg");
	background-repeat: no-repeat;
	background-size: cover; */
}

body > main {
	margin-block-start: var(--content-margin);
	margin-inline: var(--content-margin) !important;
	padding-inline: var(--section-padding) !important;

	padding-inline-end: var(--content-padding) !important;

	animation: slide-up var(--longer-animation) forwards alternate;
	animation-delay: var(--longer-animation);
}

header,
footer {
	display: block;

	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	z-index: var(--on-top);

	text-align: center;
}

header {
	background-image: url("../res/DuckSVG_Light.svg");
	background-size: contain;

	animation: slide-down var(--long-animation) forwards;
	animation: background-show var(--longer-animation) forwards;
}
header > * {
	animation: slide-down var(--long-animation) forwards;
	animation-delay: var(--long-animation);
}
header:nth-child(2n) {
	animation-delay: var(--longer-animation);
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	30% {
		opacity: 0;
		transform: translateY(-80%);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	30% {
		opacity: 0;
		transform: translateY(80%);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes background-show {
	0% {
		backdrop-filter: saturate(0);
		background-size: 0% 100%;
	}
	100% {
		backdrop-filter: saturate(100%);
		background-size: 100% 100%;
	}
}

footer {
	position: fixed;
	bottom: 0;

	margin-top: var(--standard-padding);

	width: 100%;

	background: var(--background-alt);
}

section :not(main) section.page:not(:target) {
	display: none;
}
main section.page,
section.page:target {
	display: block !important;
}

dialog {
	display: block;

	padding: var(--standard-padding);

	min-width: fit-content;

	border-radius: var(--section-corner-radius);
	background: var(--background-alt);
}
dialog::before {
	content: attr(class) " ";
}

a {
	color: var(--primary);
}
a:focus,
a:hover,
a:active,
a:visited {
	color: var(--bright-purple);
}

button {
	padding: var(--standard-padding);

	font-family: var(--monospace-font);
	text-transform: uppercase;

	border: none;
	outline: none;
	cursor: pointer;
	border-radius: var(--control-corner-radius);
	background: var(--background-alt);
}
button:hover {
	background: var(--primary);
	color: var(--foreground);
}

nav {
	display: block;

	margin: var(--min-padding);
}
nav a {
	margin-left: var(--min-padding);
	margin-right: var(--min-padding);

	font-family: var(--monospace-font);
	text-decoration: none;

	color: var(--primary);
}
nav.primary,
nav a:hover {
	color: var(--bright-purple);
}
nav a::after {
	content: attr(title);
}

@media only screen and (max-width: 800px) {
	nav a:not(.primary)::after {
		display: none;
	}
}

nav.social a {
	color: var(--foreground-alt);
}
nav.social a:hover {
	color: var(--foreground);
}
.sub-counter,
nav.social a[subs]::before {
	content: attr(subs);

	margin: var(--min-padding);
	padding: var(--min-padding);

	min-width: fit-content;

	border-radius: var(--control-corner-radius);
	background: var(--background);

	animation: sub-counter-load var(--longer-animation) forwards alternate;
	transition: var(--animation);
}
nav.social a[subs]:hover::before {
	content: "++";

	background: var(--primary);

	animation: sub-counter-content var(--longer-animation) forwards alternate;
	transition: var(--animation);
}
nav.social a[subs]:active::before {
	content: ":D";

	animation: sub-counter-added var(--longer-animation) forwards alternate;
}
@keyframes sub-counter-load {
	0% {
		content: "++";
	}
	50% {
		color: transparent;
	}
	100% {
		content: attr(subs);
	}
}
@keyframes sub-counter-content {
	0% {
		content: attr(subs);
	}
	50% {
		color: transparent;
	}
	100% {
		content: "++";
	}
}
@keyframes sub-counter-added {
	0% {
		content: "++";
	}
	50% {
		color: transparent;
	}
	100% {
		content: ":D";
	}
}

article,
dialog,
summary {
	max-width: 80ch;
}
article.post,
article.message {
	margin-left: var(--min-padding);
	margin-right: var(--min-padding);

	max-width: fit-content;
}
summary,
summary > * {
	display: inline;

	padding-block-end: var(--min-padding);
}

li {
	list-style: "├ ";
}
li:last-of-type {
	list-style: "└ ";
}

[icon]::before {
	display: inline;
	content: attr(icon);
	margin-inline-end: var(--min-padding);
}

img {
	vertical-align: middle;
}

.stuck {
	font-family: var(--monospace-font);

	color: var(--primary);
}
@supports (-webkit-background-clip: text) {
	.stuck {
		background: var(--gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.stuck::after {
	content: " \10996";

	font-family: var(--hieroglyphs);
}

icon,
[icon]::before {
	display: inline;

	font-family: var(--icon-font);
	font-size: var(--icon-size);
	vertical-align: middle;
}

.propic {
	content: var(--propic);
}

img.propic {
	margin-top: var(--min-padding);
	margin-bottom: var(--min-padding);

	width: var(--propic-size);
	height: var(--propic-size);

	border-radius: var(--circle);
}
h1 .propic {
	--propic-size: 58px;
}

icon.propic {
	--propic-size: var(--icon-size);
	width: var(--propic-size);
	height: var(--propic-size);

	border-radius: var(--circle);
}
