@font-face { font-family: 'Oxygen'; src: url(/oxygen.woff2); font-display: swap;}
@font-face { font-family: 'Oxygen Mono'; src: url(/oxygen-mono.woff2); font-display: swap;}
body {
	background-color: black;
	color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
header, footer {
	padding: 2em;
	align-items: center;
	justify-content: center;
}
main {
	padding: 3em;
	max-width: 80ch;
	margin: 0 auto;
}
h1, h2, h3, h4, summary, .title, header, footer { font-family: 'Oxygen', sans-serif; }
tt, pre, code, nav { font-family: 'Oxygen Mono', monospace;}
a, .accent { color: #08C7BB;}
a { text-decoration: none;}
small, .faded { color: #999;}
p { line-height: 1.75;}
a:hover { border-bottom: 1px solid currentColor;}
img { max-width: 100%;}
menu li {
	display: inline-block;
	margin: 4px 8px;
}
menu a { color: inherit;}
.title {
	text-transform: uppercase;
	letter-spacing: 1px;
}
header, footer, menu, .list {
	display: -ms-flex;
	display: flex;
	row-gap: 2em;
	column-gap: 2em;
	flex-wrap: wrap;
}
header, .list { flex-direction: column;}
.horizontal {
	flex-direction: row;
	flex-wrap: nowrap;
}
ul, ol, menu { padding-left: 0;}
figure { margin: 0;}
.icon, menu img, button img {
	max-height: 1em;
	vertical-align: middle;
}