@import url("webbidings.css");
@import url("anime.css");
@font-face {
	font-family: "Segoe Fluent Icons";
	src: url("fonts/Segoe_Fluent_Icons.ttf");
	font-display: auto;
}

:root {
	--page-margin: clamp(0px, 15%, 25%);

	--propic: url("https://avatars.githubusercontent.com/u/71439748");

	--font: "Inter";
	--monospace-font: "JetBrains Mono NF";
	--icon-font: "Segoe Fluent Icons";
	--hieroglyphs: "Roboto Hieroglyphs";

	--corner-radius: 3px;
	--circle: 100vmax;
	--text-shadow: 0px 0px 4px var(--bright-black);
	--box-shadow: 0px 0px 8px var(--box-shadow-color);
	--border-indicator: 3px solid var(--border-muted);

	--animation: 250ms ease;
	--long-animation: 512ms ease;
	--longer-animation: 864ms ease;
	--background-animation: 10s;
}
@media (prefers-reduced-motion) {
	:root {
		--animation: 0ms;
		--long-animation: 0ms;
		--longer-animation: 0ms;
		--background-animation: 0s;
	}
}

* {
	box-sizing: border-box;

	font-family: var(--font);
	color: var(--foreground);

	scroll-behavior: smooth;
	transition: var(--animation);
}

html,
body {
	margin: 0;
	padding: 0;

	color-scheme: dark light;
}

:focus:not(:active) {
	outline: var(--background-max-opacity) dashed 1px;
}

body {
	display: flex;
	flex-direction: column;
	justify-items: center;
	height: 100%;

	background: var(--background);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body > main {
	margin-inline: var(--content-margin);

	animation: slide-up var(--longer-animation) forwards alternate;
	animation-delay: var(--longer-animation);
}

header,
footer {
	text-align: center;
}

header {
	padding: 12px;
	width: 100%;

	background-image: var(--duck-svg);
	background-size: contain;

	animation: slide-down var(--long-animation) forwards, background-show var(--longer-animation) forwards;
}
header > * {
	margin-block-end: 4px;
}
footer {
	background: var(--background-max-opacity);
	backdrop-filter: var(--acrylic);
}
body > footer:last-child {
	position: fixed;
	bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-block: 4px;
}

h1 {
	font-weight: bolder;
}
h2, summary {
	font-size: 1.5rem;
	font-weight: bolder;
}
.stuck {
	color: var(--primary);
}

section {
	margin-block-start: 5%;
	padding: 12px;
	margin-inline: clamp(0%, 15%, 20%);
}
article, dialog, summary {
	max-width: 80ch;
}
article {
	white-space: pre-line;
}
summary {
	display: block;
	padding-block-end: 4px;
}

@media only screen and (min-width: 800px) {
	body > main > section:nth-of-type(n) {
		float: left;
	}
	body > main > section:nth-of-type(2n) {
		float: right;
	}
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.flex.spacy {
	gap: 26px;
}
.flex.wrap {
	flex-wrap: wrap;
}
@media only screen and (min-width: 800px) {
	.flex {
		flex-direction: row;
	}
}

a {
	color: var(--blue);
	text-decoration: underline currentColor;
}
button {
	padding: 8px;

	font-family: var(--monospace-font);

	border: none;
	border-radius: 3px;
	background: var(--background-alt);
}
:not(nav) > a[href^="https://"]::after {
  content: ' \E8A7';
	font-size: 50%;
}
li {
	list-style: "├ ";
}
li:last-of-type {
	list-style: "└ ";
}

img {
	vertical-align: middle;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}
nav a {
	text-decoration: none;
	color: var(--foreground);
}
nav a:hover {
	color: var(--primary);
	transform: scale(120%);
}
nav img {
	width: 1.25em;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	margin: unset;
	overflow: hidden;
	max-width: 100%;

	background: var(--background-max-opacity);
	border-radius: 6px;
}
figcaption {
	padding: 16px;
	width: 100%;
	z-index: 10;

	text-align: center;

	background: var(--background-max-opacity);
	backdrop-filter: var(--acrylic);
}
@media only screen and (min-width: 600px) {
	figcaption {
		position: absolute;
		bottom: 0;
	}
}

.propic {
	content: var(--propic);
}
img.propic {
	margin-top: var(--min-padding);
	margin-bottom: var(--min-padding);

	width: var(--propic-size);
	height: var(--propic-size);

	border-radius: var(--circle);
}
h1 .propic {
	--propic-size: 58px;
}

icon,
[icon]::before,
icon *,
a::after {
	display: inline;

	width: 1em;
	font-family: var(--icon-font);
	font-size: 1em;

	vertical-align: middle;
}
[icon]::before {
	display: inline;
	content: attr(icon);
}
[icon]:not(:empty)::before {
	margin-inline-end: 4px;
}
icon.propic {
	--propic-size: var(--icon-size);
	width: var(--propic-size);
	height: var(--propic-size);

	border-radius: var(--circle);
}
