:root {
	--purple: #7085B2;
	--bright-purple: #A36FA0;
	--blue: #047DCC;
	--bright-blue: #67BDF0;
	--cyan: #3A96DD;
	--bright-cyan: #FFC3D6;
	--black: #0D1117;
	--bright-black: #161B22;
	--plain-black: black;
	--red: #F82F1D;
	--bright-red: #FA776D;
	--green: #02B756;
	--bright-green: #178444;
	--yellow: #FFD70E;
	--bright-yellow: #DDA124;
	--white: #FFE4F3;
	--bright-white: #F2F2F2;
	--plain-white: white;
	--grey: #D8E4F3;
	--dark-grey: #21262D;

	--primary: var(--purple);
	--gradient-start: var(--purple);
	--gradient-end: var(--bright-blue);
	--gradient: linear-gradient(
		to right,
		var(--gradient-start), var(--gradient-end)
	);

	--background-10: var(--black);
	--background-20: var(--bright-black);
	--foreground-10: var(--bright-white);
	--foreground-20: var(--white);

	--background: var(--background-10);
	--foreground: var(--foreground-10);

	--selection-background: var(--foreground);
	--cursor-color: var(--foreground);
	--border-muted: var(--dark-grey);
}
@media (prefers-color-scheme: light) {
	:root {
		--background-10: var(--plain-white);
		--background-20: var(--white);
		--foreground-10: var(--black);
		--foreground-20: var(--bright-black);
		--border-muted: var(--grey);
	}
}