---
layout: default
---

<style>
	body > header.texture {
		min-height: 20vh;
		padding-top: 5vh;
		background-image: linear-gradient(black, transparent, black), url(/images/topography.svg);
	}
</style>
<style media="only screen and (min-width: 600px)">
	menu { row-gap: 2em;
		column-gap: 2em; }
</style>

<script>
	header = document.querySelector("body > header.texture")
	function moveMap(x, y) {
		header.style.backgroundPositionX = x+'%'
		header.style.backgroundPositionY = y+'%'
	}
	onmousemove = function(e) {
		mouse_xp = (e.clientX / window.innerWidth / 2) * 100
		mouse_yp = (e.clientY / window.innerHeight/ 2) * 100
		moveMap(mouse_xp, mouse_yp)
	}
	ondeviceorientation = function(e) {
		x_deg = e.beta
		y_deg = e.gamma
		xp = (x_deg + 180) / 360 * 100
		yp = (y_deg + 90) / 180 * 100
		moveMap(yp, xp)
	}
</script>

<main class="list">
	{{ content }}
</main>

<footer>
	<nav>
		<menu>
			<li><a href="https://github.com/s7uck">Git</a>
			<li><a href="https://techhub.social/@stuck">TechHub</a>
			<li><a href="https://youtube.com/@StuckDuck">YouTube</a>
			<li><a href="https://telegram.me/StuckDuck">Telegram</a>
		</menu>
	</nav>
	<img height="24" src="/images/wordmark.svg" alt="Design By StuckDuck">
</footer>
