---
layout: default
---

<style>
	body > header {
		min-height: 20vh;
		padding-top: 5vh;
		background-image: linear-gradient(black, transparent, black), url(/images/topography.svg);
	}
</style>

<script defer>
	window.onscroll = function() {
		scrollPercentage = Math.floor((Math.floor(window.scrollY) * 100) / document.body.clientHeight)
		console.log(scrollPercentage)
		document.querySelector('body>header').style.cssText = 'background-position: ' + scrollPercentage + '% ' + scrollPercentage /2 + '%';
		}
</script>

<main class="list">
	{{ content }}
</main>

<footer>
	<nav>
		<menu>
			<li><a href="https://github.com/s7uck">Git</a>
			<li><a href="https://techhub.social/@stuck">TechHub</a>
			<li><a href="https://youtube.com/@StuckDuck">YouTube</a>
			<li><a href="https://telegram.me/StuckDuck">Telegram</a>
		</menu>
	</nav>
	<img height="24" src="/images/wordmark.svg" alt="Design By StuckDuck">
</footer>
