---
layout: page
---

<style>main {padding: 1em;}</style>

<figure class="horizontal list">
	<img class="card" src="{{ page.image }}" onclick="window.location = '{{ page.image }}'">

	<figcaption>	
		<header style="align-items: flex-start;">
		    <small><time>{{ page.date | date: "%b %-d %Y, %H:%M:%S" }}</time></small>
			<h1 style="margin: 0">{{ page.title }}</h1>

		    <ul class="horizontal list">
		    	<small>
			    	<img class="icon invert" src="/images/camera.svg"> {{ page.camera }}
			    </small>
			    <small>
			    	<img class="icon invert" src="/images/forward.svg"> {{ page.location }}
			    </small>
			</ul>


		    <ul class="horizontal list">
		    	<span class="chip">{{ page.mode | upcase }}</span>
		    	<small>f/{{ page.aperture }}</small>
		    	<small>{{ page.sspeed }} seconds</small>
		    	<small>ISO {{ page.iso }}</small>
		    	<small>{{ page.focal }}</small>
		    </ul>
		</header>
	</figcaption>
</figure>

<article>
	{{ content }}
</article>