---
layout: page
---

<header>
    <h1>{{ page.name }}</h1>
</header>

{% if page.image %}
<figure class="full-width cover" style="background-image: url({{ page.image }});">
</figure>
{% endif %}

<header>
    <p>{% if page.started != false %}
    started <time datetime="{{ page.started }}">{{ page.started | date: "%b %-d, %Y" }}</time>
    {% if page.finished != false %}, finished <time datetime="{{ page.finished }}">{{ page.finished | date: "%b %-d, %Y" }}</time>{% endif %}
    {% else %}work in progress{% endif %}</p>
</header>

{{ content }}
